@model AutoMax.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<h3 class="main-header">Update User</h3>
<div class="panel panel-default main-panel" style="margin-top:36px;">
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal" style="width:100%; margin:0 auto">
                @if (ViewBag.UpdateMessage != null && ViewBag.UpdateMessage != "")
                {
                    <span class="has-success" style="color:green;">Password Changed Sucessfully!</span>
                }
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <input type="hidden" value="122" name="OldPassword" />
                <div class="col-md-4 col-lg-4">
                    <div class="form-group custom-group">
                        <label for="s_num">New Password</label>
                        <input type="password" class="form-control custom-control" id="NewPassword" name="NewPassword" required onblur="matchPassword();">
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="form-group custom-group">
                        <label for="s_num">Confirm Password</label>
                        <input type="password" class="form-control custom-control" id="ConfirmPassword" name="ConfirmPassword" required onblur="matchPassword();">
                    </div>
                </div>

                <div class="form-group" style="margin:0 auto;">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Update" class="btn btn-block btn-submit btn-custom" id="UpdatePassword" style="width:10%" disabled />
                    </div>
                </div>
            </div>
        }

    </div>
</div>
@section Scripts{
    <script src="~/assets/plugins/jquery-2.2.4.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/plugins/twitter-bootstrap-wizard-master/jquery.bootstrap.wizard.min.js"></script>
    <script src="~/assets/plugins/twitter-bootstrap-wizard-master/prettify.js"></script>
    <script type="text/javascript">
        var IsNullOrEmpty = function (value) {
            return value == null || value == '' || value == undefined ? true : false;
        };
        function matchPassword() {
            var newPassword = $('#NewPassword').val();
            var confPassword = $('#ConfirmPassword').val();
            if (!IsNullOrEmpty(newPassword) && !IsNullOrEmpty(confPassword)) {
                if (newPassword != confPassword) {
                    return false;
                } else {
                    $('#UpdatePassword').attr('disabled', false);
                }
            }
        }
    </script>
}