@model AutoMax.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="row">
    <div class="col-md-3 col-lg-3" style="height: 100vh;">
        <div class="v-center">
            <form action="@Url.Content("~/Users/ForgotPassword")" method="post">
                <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" id="ReturnUrl" />
                <div class="text-center">
                    <img src="~/assets/images/logo.png">
                    <h2 style="margin:75px 0 30px 0; color: #7a97ef; font-weight: bold;">Forgot Password</h2>
                </div>
                <div class="form-group custom-group" style="margin-top: 24px; padding: 0 24px;">
                    <label for="password">Password *</label>
                    <input type="password" class="form-control custom-control" id="password" name="Password" style="background-color: #f9fafb; border: none; box-shadow: none;">
                </div>
                <div class="form-group custom-group" style="margin-top: 24px; padding: 0 24px;">
                    <label for="password">Confirm Password</label>
                    <input type="password" class="form-control custom-control" id="password" name="Password" style="background-color: #f9fafb; border: none; box-shadow: none;">
                </div>
                @if (ViewBag.EmailID != "" && ViewBag.EmailID != null)
                {
                    <div style="padding:0 24px;">
                        <button type="submit" class="btn btn-block btn-warning" style="margin-top: 24px;" name="" value="">Send</button>
                        <button type="button" class="btn btn-block btn-warning" style="margin-top: 24px;" name="" value="" onclick="@Url.Content("~/Home/Login")">Cancel</button>
                    </div>
                }
                else
                {
                    <div style="padding:0 24px;">
                        <button type="button" class="btn btn-block btn-warning" style="margin-top: 24px;" name="" value="" onclick="@Url.Content("~/Home/Login")">Go Back</button>
                    </div>
                }
            </form>

        </div>
    </div>
    <div class="col-md-9 col-lg-9 hidden-xs hidden-sm" style="height: 100vh; overflow: hidden; padding-right: 0;">
        <img src="~/assets/images/login-bg-2.png" class="img-responsive pull-right" style="width: 100%;">
    </div>
</div>